<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2><%= @rating.book.name %> </h2>
      Author: <%= @rating.book.author.name %> <br>
      Genre: <%= @rating.book.genre.name if @rating.book.genre%> <br>
      Your Rating:
      <form class="" action="/rating/edit" method="post">
        <input type="hidden" name="rating_id" value="<%=@rating.id%>">
        <select class="" name="rating[amount]">
          <% [1,2,3,4,5,6,7,8,9,10].each do |num| %>
          <option value="<%=num%>"<%= 'selected' if num == @rating.amount%>><%=num%></option>
            <% end %>
        </select><br>
        <input type="submit" name="submit" value="Edit Rating">
      </form>

      <form class="" action="/rating/delete" method="post">
        <input type="hidden" name="rating_id" value="<%=@rating.id%>">
        <input type="submit" name="submit" value="Delete Rating">
      </form>
  </body>
</html>
