<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <% if @errors %>
    Error! <br>
     <% @errors.each do |k, error| %>

    <%= error.join %><br>
    <% end %>
    <br>
    <% end %>

    <form class="" action="/rate" method="post">
      Pick a book from the pre-existing list or add a new one! <br>
      <label for="book">Book:</label>
      <input type="text" name="book[name]" value="" id="book" list="books">
        <datalist id="books">
        <% Book.all.each do |book| %>
        <option value="<%=book.name%> - <%=book.author.name%> - <%=book.id%>" />
          <% end %>
        </datalist><br>
        <label for="author">Author (if new):</label>
        <input type="text" name="author[name]" value="" id="author" list="authors">
        <datalist id="authors">
        <% Author.all.each do |author| %>
        <option value="<%=author.name%>" />
          <% end %>
        </datalist><br>
        <label for="genre">Genre (if new):</label>
        <input type="text" name="genre[name]" value="" id="genre" list="genres">
        <datalist id="genres">
        <% Genre.all.each do |genre| %>
        <option value="<%=genre.name%>" />
          <% end %>
        </datalist><br>
      Rating: <select class="" name="rating[amount]">
        <% [1,2,3,4,5,6,7,8,9,10].each do |num| %>
        <option value="<%=num%>"><%=num%></option>
          <% end %>
      </select><br>
        <input type="submit" name="submit" value="Rate!">
    </form>
  </body>
</html>
