<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if logged_in? %>
    <h1>Welcome, <%=current_user.username%>!</h1>

    <p>
      Would you like to <a href="/rate">rate a new book</a>?
    </p>

    <h3>Recent Ratings:</h3>
    <ul>
      <%current_user.ratings.order('updated_at DESC').limit(5).each do |rating| %>
      <li><em><a href="/book/<%=rating.book.id%>"><%=rating.book.name%></a></em> by <a href="/authors/<%=rating.book.author.id%>"><%=rating.book.author.name%></a> - <strong><a href="/rating/<%=rating.id%>"><%=rating.amount%></a></strong></li>
      <% end %>
    </ul>

    <h3>Highest Rated:</h3>
    <ul>
      <%current_user.ratings.order('amount DESC, updated_at DESC').limit(10).each do |rating| %>
      <li><em><a href="/book/<%=rating.book.id%>"><%=rating.book.name%></a></em> by <a href="/authors/<%=rating.book.author.id%>"><%=rating.book.author.name%> </a>- <strong><a href="/rating/<%=rating.id%>"><%=rating.amount%></a></strong></li>
      <% end %>
    </ul>

    <h3>Friends:</h3>
    <ul>
      <% current_user.friends.each do |friend| %>
        <li><a href="/user/<%=friend.id%>"><%=friend.username%></a></li>
      <% end %>
    </ul>



    <% else %>

    <p>
      Sorry, something went wrong! Please <a href="/login"><strong>log in</strong></a> or <a href="/signup"><strong>sign up</strong></a> to view this page.
    </p>

    <% end %>


  </body>
</html>
