<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h1>Books for Nerds</h1>

<% if logged_in? %>

<a href="/account">Your Account</a>

<% else %>
<a href="/signup">Sign Up</a> or <a href="/login">Log In</a>
<% end %>

<h2>Recently Rated:</h2>
<ul>
<% Rating.all.order('updated_at DESC').limit(10).each do |rating| %>

  <li><em><a href="/book/<%=rating.book.id%>"><%=rating.book.name%></a></em> by <%=rating.book.author.name%> - <strong>Rated <%=rating.amount%></strong> by <%= rating.user.username%></li>
  <% end %>
</ul>

  </body>
</html>
